body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(198, 229, 243);
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    color:rgb(38, 44, 48)
}
.product img {
    max-width: 100%;
    height: 150px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background: rgb(247, 245, 245);
    border: 1px solid #4a9ff4;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: calc(33% - 20px);
    box-shadow: 0 2px 5px rgba(251, 251, 251);
    text-align: center;
}

button:hover {
    background-color:rgb(135, 201, 244)
}

.cart {
    margin-top: 40px;
    background: rgb(188, 188, 245);
    padding: 10px;
    border: 1px solid #7eadf4;
    border-radius: 5px;
}

.modal-content {
    background-color:rgb(188, 188, 245);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #7eadf4;
}
